
@font-face {font-family: "MikadanW00-Regular"; src: url("//db.onlinewebfonts.com/t/b6cb548dfee027bf5b20513298758190.eot"); src: url("//db.onlinewebfonts.com/t/b6cb548dfee027bf5b20513298758190.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b6cb548dfee027bf5b20513298758190.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b6cb548dfee027bf5b20513298758190.woff") format("woff"), url("//db.onlinewebfonts.com/t/b6cb548dfee027bf5b20513298758190.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b6cb548dfee027bf5b20513298758190.svg#MikadanW00-Regular") format("svg"); }
.coreAttributes {
  width: 100%;
  height: 100%;
  
  
}
html * {
  font-family: "MikadanW00-Regular"
}
.secondaryAttributes{
  width: 100%;
  
  
}
body {
  background-color: rgb(58, 55, 55);
  color: rgb(255, 255, 255)
}
input[type=text] {
  box-sizing: border-box;
  border: 1px solid rgb(23, 63, 26);
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 40%;
  position: relative;
  transition: ease-in-out, width .35s ease-in-out;
  margin-top: 5px;
}
input[type=text]:focus {
 
  width: 250px;
}

select {
  box-sizing: border-box;
  border: 1px solid rgb(23, 63, 26);
  background-color: black;
  color: white;
  width: 60%;
  
}
select:hover {
  border-color: black;
}


.Top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  

}
.Race {
  margin-top: 5px;
}

.Talents {
  
  margin: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  height: 86vh; 
  overflow-x:scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  
  
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: green;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(23, 63, 26);
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}


.TalentName {
  color: #3B3424;
  font-size: 4vb;
  position: relative;
  top: 8%;
  
  
  
  }
  .TalentRarity {
    color: black;
    
   
    
    
    }
    .TalentFamily {
      color: #6C685C;
      
      position: relative;
      top: 41%;
      
      
      
      }
      .TalentDescription {
        color: #2F2C26;
        inline-size: 79%; 
        left: 10%;
        position: relative;
        
        top: 40%;
        overflow: hidden;
        
        }
        .TalentStats {
          color: #E6E2D0;
          text-shadow: 0 0 10px #000000;
          position: relative;
          text-align: center;
          bottom: 17%;
          
          
          
          
          
          
          }
 
  
  .TalentContainerCommon {
    text-align: center;
    background: no-repeat  url(./Common.png);
    background-size: 100%;
    height: 100%;
    margin:2px;
    width: 15em;
    
    scroll-snap-align: end;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    

  }
  .TalentContainerRare {
    text-align: center;
    height: 100%;
    background: no-repeat  url(./Rare.png);
    background-size: 100%;
    font-size: 1vb;
    margin:2px;
    width: 15em;
    
    scroll-snap-align: end;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;

  }
  .TalentContainerLegendary {
    text-align: center;
    height: 100%;
    background: no-repeat  url(./Legendary.png);
    background-size: 100%;
    font-size: 1vb;
    margin:2px;
    width: 15em;
    
    scroll-snap-align: end;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;

  }
 
  .TalentContainer:hover {
    border-color: white;
  }
  .TalentContainer:active{
    border-color: red;
  }
.Display {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  

}

.MainInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.points {
  width: 100%;
}
.Input {
  width: 100%;
  
  
}





.attr {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(23, 63, 26);
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
 


 
}
.attr:hover {

  box-shadow: 2px white;
  
}
:hover {
  border-color: white;
}

.AttunementDisplay {
  
  display: grid;
  width: 100%;
  
  grid-template-columns: 1fr 1fr 1fr

}
.DisplayItem {
  margin: 10px;
  height: 55%;
}

p {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 12px;
  border: black 1px solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(23, 63, 26);
  
  
}